ul {
    list-style: none;
    /*border: solid blue 2px;*/
}

li {
    /*border: solid red 2px;*/
}

h2 {
    font-size: 2.1em;
    display: inline-block;
    padding: 0.3rem 3rem;

}

p {
    padding: 0rem 3rem;
}

.header {
    font-size: 1.4em;
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    padding: 8px 24px;
}
form > input,
form > button,
form > textarea {
    display: block;
    width: 240px;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #888;
    font-size: 14px;
    background: none;
    box-shadow:none;
}

.nav-bar {
    list-style-type: none;
    font-size: 1.2em;
    font-family: Arial,sans-serif;
    background-color: lightblue;
    color: cornsilk;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav-bar li {
    display: inline-block;
    width: 25%;
    text-align: center;
    color: darkblue;

}

.nav-bar a:visited, a:link {
    color: brown;
}
.nav-bar li a:hover {
    background-color: gainsboro;
}

.deleteBtn {
    margin-right: 1rem;
}

